*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* header style start */
.header{
    background: rgba(255, 144, 14, 0.1);
}
.header-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
/* nav style start */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding: 35px 0px;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
    color: #424242;
    font-weight: 400;
    font-size: 18px;
}
/* nav style end */
/* banner style start */
.banner{
    display: flex;
    flex-direction: column;
    margin: 0px 200px;
    padding: 35px 0px;
}
.banner-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    margin: 0px 100px;
}
.banner-info-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner-info-description{
   color: #727272;
   font-size: 16px;
   font-weight: 400px;
}
.main-button{
    color: black;
    font-size: 20px;
    font-weight: 600;
    background-color: yellow ;
    border: none;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.banner-img{
    width: 1440px;  
}
/* header style end */